# Git, CMake and build
depcache/
cmake-build-*/
.gitmodules
build/
**/.cache/clangd/
**/.clangd

# IDE and editors
**/.vs/
**/.vscode/
.idea

# Dependencies
pa-third-party/
pa-common/
hw-mongo/

# Logs
*.log

.run/
.clang-format
/mongo/compile_commands.json

