# Git, CMake and build
depcache/
**/build/
cmake-build-*/
.gitmodules

# IDE and editors
**/.vs/
**/.vscode/
.idea

# Dependencies
pa-third-party/
pa-common/
hw-mongo/

# Logs
*.log

.run/
.clang-format
